language: csharp
solution: AvalonAssets.sln
notifications:
  email:
    on_success: change
    on_failure: change
    on_pull_requests: false
install:
  - nuget restore AvalonAssets.sln
script:
  - xbuild /p:Configuration=Release AvalonAssets.sln
  - mono ./packages/NUnit.ConsoleRunner.*/tools/nunit3-console.exe ./AvalonAssetsTests/bin/Release/AvalonAssetsTests.dll